* {
    display: flex;
}

.recipes {
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
    /* width: 50%; */
}

.titles {
    flex-direction: column;
    margin-left: 10px;
}

img {
    width: 40px;
    height: 40px;
    text-align: center;
    align-self: center;
    margin: 15px;
}

h2 {
    margin-bottom: 0px;
}